Package: com.stoqn4opm.springtoolz
Name: SpringToolz
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Stoyan Stoyanov
Author: Stoyan Stoyanov
Section: Tweaks
