<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>detail</key>
			<string>SPGTLZRootListItemsController</string>
			<key>key</key>
			<string>dock_icon_shape</string>
			<key>label</key>
			<string>Choose Shape</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Circle</string>
				<string>Gear Wheel 1</string>
				<string>Gear Wheel 2</string>
				<string>Gear Wheel 3</string>
				<string>Gear Wheel 4</string>
				<string>Gear Wheel 5</string>
				<string>Gear Wheel 6</string>
				<string>Sine Circle 1</string>
				<string>Sine Circle 2</string>
				<string>Sine Circle 3</string>
				<string>Sine Circle 4</string>
				<string>Sine Circle 5</string>
				<string>Sine Circle 6</string>
				<string>Hexagon</string>
				<string>Octagon</string>
				<string>Circle with Notch 1</string>
				<string>Circle with Notch 2</string>
				<string>Circle with Notch 3</string>
				<string>Circle with Two Notches 1</string>
				<string>Circle with Two Notches 2</string>
				<string>Circle with Two Notches 3</string>
				<string>Bloated Square 1</string>
				<string>Bloated Square 2</string>
				<string>Bloated Square 3</string>
			</array>
			<key>validValues</key>
			<array>
				<string>default</string>
				<string>circle</string>
				<string>gear_wheel_1</string>
				<string>gear_wheel_2</string>
				<string>gear_wheel_3</string>
				<string>gear_wheel_4</string>
				<string>gear_wheel_5</string>
				<string>gear_wheel_6</string>
				<string>sine_circle_1</string>
				<string>sine_circle_2</string>
				<string>sine_circle_3</string>
				<string>sine_circle_4</string>
				<string>sine_circle_5</string>
				<string>sine_circle_6</string>
				<string>hexagon</string>
				<string>octagon</string>
				<string>circle_with_notch_1</string>
				<string>circle_with_notch_2</string>
				<string>circle_with_notch_3</string>
				<string>circle_with_two_notches_1</string>
				<string>circle_with_two_notches_2</string>
				<string>circle_with_two_notches_3</string>
				<string>bloated_square_1</string>
				<string>bloated_square_2</string>
				<string>bloated_square_3</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>&quot;Animate Shape&quot; is experimental feature. You may experience some issues with it (sometimes may fail to start). Try it and send me a feedback if you like.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>key</key>
			<string>dock_icons_shadows_enabled</string>
			<key>label</key>
			<string>Enable Shadows</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>key</key>
			<string>dock_icons_animations_enabled</string>
			<key>label</key>
			<string>Animate Shape</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHAPE ROTATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>max</key>
			<real>6.28</real>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>0</integer>
			<key>key</key>
			<string>dock_icon_shape_rotation</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>default</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>&quot;Satellite Dots&quot; is experimental feature with which you may have issues (sometimes may fail to animate). Try it and send me a feedback if you like.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>key</key>
			<string>dock_icons_satellites_enabled</string>
			<key>label</key>
			<string>Enable Satellite Dots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>key</key>
			<string>dock_icon_satellites_count</string>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>10</string>
				<string>20</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>10</string>
				<string>20</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Dock Icons</string>
</dict>
</plist>
