<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>key</key>
			<string>circular_icons_enabled</string>
			<key>label</key>
			<string>Circular Icons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>key</key>
			<string>shadows_enabled</string>
			<key>label</key>
			<string>Enable Shadows</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHADOW INTENSITY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>0</integer>
			<key>key</key>
			<string>intensity</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>default</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HORIZONTAL SHADOW DEVIATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>max</key>
			<real>0.4</real>
			<key>min</key>
			<real>-0.4</real>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>0</integer>
			<key>key</key>
			<string>hor_deviation</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>default</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VERTICAL SHADOW DEVIATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>max</key>
			<real>0.4</real>
			<key>min</key>
			<real>-0.4</real>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>0</integer>
			<key>key</key>
			<string>ver_deviation</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>default</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate (PayPal)</string>
			<key>action</key>
			<string>donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Find me on Facebook</string>
			<key>action</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring (Apply Changes)</string>
			<key>action</key>
			<string>respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>SpringToolz</string>
</dict>
</plist>
