<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>PFHeaderCell</string>
			<key>background</key>
			<string>#ffffff</string>
			<key>image</key>
			<string>/Library/PreferenceBundles/SpringToolz.bundle/header.png</string>
			<key>height</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>key</key>
			<string>tweak_enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>detail</key>
			<string>SPGTLZPageIconsListController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Page Icons</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>SPGTLZDockIconsListController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Dock Icons</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>SPGTLZShadowOptionsListController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Shadow Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate (PayPal)</string>
			<key>action</key>
			<string>donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Find me on Facebook</string>
			<key>action</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring (Apply Changes)</string>
			<key>action</key>
			<string>respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>SpringToolz</string>
</dict>
</plist>
