<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>detail</key>
			<string>SPGTLZRootListItemsController</string>
			<key>key</key>
			<string>shadow_color</string>
			<key>label</key>
			<string>Shadow Color</string>
			<key>validTitles</key>
			<array>
				<string>Black</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Yellow</string>
				<string>White</string>
				<string>Gray</string>
			</array>
			<key>validValues</key>
			<array>
				<string>black</string>
				<string>green</string>
				<string>blue</string>
				<string>yellow</string>
				<string>white</string>
				<string>gray</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHADOW INTENSITY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>0</integer>
			<key>key</key>
			<string>shadow_intensity</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>default</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HORIZONTAL SHADOW DEVIATION</string>
			<key>footerText</key>
			<string>Move shadow left to right. Defaults to centered.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>max</key>
			<real>0.4</real>
			<key>min</key>
			<real>-0.4</real>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>0</integer>
			<key>key</key>
			<string>shadow_hor_deviation</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>default</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VERTICAL SHADOW DEVIATION</string>
			<key>footerText</key>
			<string>Move shadow up to down. Defaults to centered.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>max</key>
			<real>0.4</real>
			<key>min</key>
			<real>-0.4</real>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>0</integer>
			<key>key</key>
			<string>shadow_ver_deviation</string>
			<key>defaults</key>
			<string>com.stoqn4opm.springtoolz</string>
			<key>default</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>title</key>
	<string>Shadow Options</string>
</dict>
</plist>
